---
import "../styles/global.css";

const pageTitle: string = "My Astro Learning Blog";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
    </head>
    <body>
        <div class="nav">
            <a href="/" id="home">Home</a>
            <a href="/about" id="about">About Me</a>
            <a href="/blog" id="about">Blog</a>
        </div>
        <div class="content">
            <h1 class="title">{pageTitle}</h1>
            <h3>Find bellow all my posts</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Mollitia quidem rerum, perferendis minus, vero temporibus,
                sapiente voluptas magni nihil itaque libero numquam labore
                molestiae quod culpa! Quo fuga tempora ut
            </p>
            <div class="posts">
                <ul>
                    <li><a href="/posts/post-1">Post 1</a></li>
                    <li><a href="/posts/post-2">Post 2</a></li>
                    <li><a href="/posts/post-3">Post 3</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>
